// Example of @use syntax
@use '../../assets/styles/use/styles';

.hero {
  @include center-text;
  @include full-width;
  margin-bottom: 50px;
  height: 70vh;
  background-color: $background-color;
  color: $text-color;

  h1 {
    font-style: styles.$italic;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
  }
}
